# Ignore all
/*


# Source directory
!/source/
/source/*


# Backend
!/source/backend/
/source/backend/*
!/source/backend/artworks/
/source/backend/artworks/*
!/source/backend/users/
/source/backend/users/*

!/source/backend/artworks/models.py

!/source/backend/users/admin.py
!/source/backend/users/models.py