/* AddTitle CSS */
.title-flex-container {
    display: flex;
    margin-top: 55px;
}


/* AddDetails CSS */
.years-flex-container {
    display: flex;
    margin-top: 55px;
}

.spacer-div-middle {
    flex: 0 0 3.904%;
}